

   
    <table class="table responstable">
        <thead>
          <tr>
              <th>
                Search on ComplaintType :   
              </th>            
              <th colspan="3">
                  <input type="text" [(ngModel)]="queryString" [ngModelOptions]="{standalone:true}">
                      
              </th>
              <th>
                  Search on ModuleType :   
                </th>            
                <th colspan="3">
                    <input type="text" [(ngModel)]="queryString_mod" [ngModelOptions]="{standalone:true}">
                        
                </th>
            </tr>
          <tr class=" rowstyle tr-style">
            <th scope="col" class="thstyle">Serial No.</th>
            <!-- <th scope="col">to be hidden</th> -->
            <th scope="col" class="thstyle">Employee Name</th>
            <th scop="col" class="thstyle">Department</th>
            <th scope="col"class="thstyle">ModuleName</th>
            <!-- <th scope="col"class="thstyle">Complaint Id</th> -->
            <th scope="col"class="thstyle">ComplaintType</th>
            <!-- <th scope="col"class="thstyle">Description</th> -->
            <th scope="col"class="thstyle">ComplaintDate</th>
            <!-- <th scope="col"class="thstyle">ErrorPath</th> -->
            <!-- <th scope="col"class="thstyle">Remarks</th> -->
            <!-- <th scope="col"class="thstyle">STATUS</th> -->
            <th scope="col"class="thstyle">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr class="rowstyle" *ngFor="let user of openComplaints;let i = index"> -->
              <tr class="rowstyle" *ngFor="let user of openComplaints|filterdata: queryString : 'complaint_type'|filterdataMod: queryString_mod : 'module_type';let i = index" data-toggle="tooltip" data-placement="right" title={{user.description}} >
            <th scope="row">{{i+1}}</th>
            <!-- <td>{{user.complaintId}}</td>  -->
            <td class="tdstyle">{{user.empname}}</td>
            <td class="tdstyle">{{user.departmentName}}</td>
            <td class="tdstyle">{{user.module_type}}</td>
            <!-- <td class="tdstyle">{{user.complaintId}}</td> -->
            <td class="tdstyle">{{user.complaint_type}}</td>
            <!-- <td class="tdstyle">{{user.description}}</td> -->
            <td class="tdstyle">{{user.complaintDate}}</td>
            <!-- <td class="tdstyle">{{user.error_path}}</td> -->

            <!-- <td class="tdstyle" >{{user.adm_status}}</td> -->
            <!-- <td class="tdstyle" data-toggle="tooltip" data-placement="right" title={{user.description}}>
              {{user.adm_status}}
            </td> -->
            <!-- <p data-toggle="tooltip" data-placement="left" data-container="body" title="hi">some text</p> -->
           
            <!-- <td class="tdstyle">{{user.remarks}}</td> -->
            <!-- <td class="tdstyle"> <i class="fa fa-trash icon-size" (click)="onDelete(user)"></i></td>  -->
            <td class="tdstyle"> <i class="fa fa-eye icon-size" (click)="onView(contentView,user)"></i></td>
            <!-- <td class="tdstyle"> <i class="fa fa-eye" (click)="onDelete(user)"></i></td> -->
              <!-- <button type="button" class="btn btn-danger" data-toggle="conirmation">delete</button></td> -->
          </tr>
       
        </tbody>
      </table>


<ng-template #contentView let-modal>
  <div class="modal-header" id="remarksModal">
    <h4 class="modal-title" id="modal-basic-title" style="color:#0099cc">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <app-reopen></app-reopen> -->
    <form (submit)="onProceed($event)" style="position:relative;left:50px;">
      <div class="form-group row">
        <div class="col-sm-10" style="color: #0099cc">
          Module Type : 
            <input type="text" style="border:none;" readonly="readonly" class="disabledtextStyle" [(ngModel)]="txt_Module" [ngModelOptions]="{standalone: true}" >
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10" style="color: #0099cc">
          Complaint Type : 
            <input type="text" style="border:none;background-color: white;" readonly="readonly" class="disabledtextStyle" [(ngModel)]="txt_Complaint" [ngModelOptions]="{standalone: true}" > 
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10" style="color: #0099cc">
          Description : 
            <input type="text" style="border:none;background-color: white;" readonly="readonly" class="disabledtextStyle" [(ngModel)]="txt_Description" [ngModelOptions]="{standalone: true}" > 
            <!-- <textarea [(ngModel)]="txt_Description" [ngModelOptions]="{standalone: true}" id="" style="border:none;background-color: white;" readonly="readonly" class="disabledtextStyle" cols="30" ></textarea> -->
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10" style="color: #0099cc">
          Error Path : 
          <input type="text" style="border:none;background-color: white;" readonly="readonly" class="disabledtextStyle" [(ngModel)]="txt_path" [ngModelOptions]="{standalone: true}" > 
        </div>
      </div>
      <!-- <br> -->
      <div class="form-group row">
          <div class="col-sm-10" style="color: #0099cc">
            Complaint Date : 
            <input type="text" style="border:none;background-color: white;" readonly="readonly" class="disabledtextStyle" [(ngModel)]="lbl_complaintDate" [ngModelOptions]="{standalone: true}" > 
          </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 btn-div2 " >
          <button class="btn  btn-blockComplete">Proceed</button>
          <!-- <button type="submit" type="submit" class="btn btn-lg btn-outline-primary modal-btn" >Regsiter </button> -->
        </div>
      </div>
      
    </form>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>




