<!-- <nav class="navbar navbar-dark bg-primary">
   
</nav> -->

<!-- <div class="nav-style shadow p-3 mb-5 sticky-top rounded blue-gradien">
    
        <span class="span-style">FISAT</span>

</div> -->

<div class="nav-style shadow p-3 mb-5 sticky-top rounded blue-gradien">
    
        <span class="span-style">FISAT</span>
        <div class="navbar-expand ml-auto navbar-nav" id="div_menu">
          <div class="navbar-nav">
              <!-- <div class="div_menuView">
                  <a [routerLink]="['/view']"   [queryParams]="{debug: true}" fragment="education" class="a_textColor">
                    
                    <i class='fas fa-book-reader' ></i> 
                      VIEW COMPLAINTS
                  </a>   
              </div> -->
              <div class="div_menuView" *ngIf="userWelcome">
                WELCOME {{userNameSession}}
              </div>
              <div class="div_menuLogout" *ngIf="logoutMenu">
                <!-- <a class="nav-item nav-link " [routerLink]="'/login'"> -->
                <a class="a_textColor" (click)="onLogoutService()" [routerLink]="'/login'"><!--</a>-->
                  <!-- <i class="fas  fa-github"></i> -->
                  LOGOUT
                </a>
              </div>
          </div>
        </div>
    </div>
    <div class="div11" >
        <p></p>
    </div>